@font-face {
  font-family: "Lato Black";
  src: url("../fonts/Lato-Black.ttf");
}
@font-face {
  font-family: "Bebas Neue Bold";
  src: url("../fonts/Bebas Neue.ttf");
}
.b-header {
  position: relative;
  height: 739px;
  background: url("../img/header_bg.jpg");
  background-repeat: no-repeat;
}
@media all and (min-width: 768px) and (max-width: 991px) {
  .b-header {
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    height: 739px;
  }
}
.b-headerTop__logo {
  color: #ffffff;
  font-size: 40px;
}
.b-headerTop__logo span {
  color: #ffc61a;
}
.b-headerTop__logo_marginLogo {
  margin-top: 44px;
  margin-left: 81px;
}
@media all and (min-width: 479px) and (max-width: 1026px) {
  .b-headerTop__logo_marginLogo {
    margin: 0;
    margin-top: 15px;
    text-align: center;
  }
}
@media all and (max-width: 479px) {
  .b-headerTop__logo_marginLogo {
    margin: 0;
    margin-top: 15px;
    text-align: center;
  }
}
.b-headerTop__slogan {
  color: #ffffff;
  font-size: 15px;
  letter-spacing: 3px;
}
.b-headerTop__slogan_margin {
  margin-top: -15px;
  margin-left: 19px;
}
@media all and (min-width: 479px) and (max-width: 1026px) {
  .b-headerTop__slogan_margin {
    margin-left: 0;
  }
}
@media all and (max-width: 479px) {
  .b-headerTop__slogan_margin {
    margin-left: 0;
  }
}
.b-headerTop__menu_margin {
  margin-top: 50px;
  margin-right: 103px;
}
@media all and (min-width: 0px) and (max-width: 992px) {
  .b-headerTop__menu_margin {
    margin: 50px 0;
    font-size: 25px;
  }
}
@media all and (min-width: 993px) and (max-width: 1026px) {
  .b-headerTop__menu_margin {
    margin: 50px 0;
    font-size: 25px;
  }
}
.b-headerMid__title {
  color: #ffc61a;
  font-size: 32px;
  font-weight: 400;
  text-transform: uppercase;
}
.b-headerMid__title_marginTop {
  margin-top: 20px;
}
@media all and (min-width: 479px) and (max-width: 1026px) {
  .b-headerMid__title_marginTop {
    margin-top: 0;
  }
}
@media all and (max-width: 479px) {
  .b-headerMid__title_marginTop {
    margin-top: 0;
  }
}
.b-headerMid__phone {
  color: #ffffff;
  font-size: 72px;
  text-transform: uppercase;
}
@media all and (min-width: 479px) and (max-width: 1026px) {
  .b-headerMid__phone {
    font-size: 50px;
  }
}
@media all and (max-width: 479px) {
  .b-headerMid__phone {
    font-size: 50px;
  }
}
.b-headerMid__www {
  color: #ffffff;
  font-size: 20px;
  text-transform: uppercase;
  letter-spacing: 10px;
}
.b-headerMid__www_margin {
  margin-left: 55px;
}
@media all and (min-width: 479px) and (max-width: 1026px) {
  .b-headerMid__www_margin {
    margin-left: 0;
    font-size: 10px;
  }
}
@media all and (max-width: 479px) {
  .b-headerMid__www_margin {
    margin-left: 0;
    font-size: 10px;
  }
}
@media all and (min-width: 992px) and (max-width: 1199px) {
  .b-headerMid__www_margin {
    margin-bottom: 380px;
    letter-spacing: 10px;
  }
}
.b-headerBottom__carImg {
  position: absolute;
}
.b-headerBottom__carImg_headerCar {
  top: 370px;
  left: calc(50% - 413px);
  z-index: 500;
}
@media all and (min-width: 0px) and (max-width: 991px) {
  .b-headerBottom__carImg_headerCar {
    display: none;
  }
}
.b-mainInfo {
  position: relative;
  height: 100%;
  background-color: #ffc61a;
}
.b-mainInfoContent_sizeM {
  width: 554px;
}
@media all and (min-width: 0px) and (max-width: 1599px) {
  .b-mainInfoContent_sizeM {
    width: 100%;
  }
}
.b-mainInfoContent__title {
  font-size: 25px;
  text-transform: uppercase;
}
.b-mainInfoContent__title_marginTop {
  margin-top: 151px;
}
@media all and (min-width: 992px) and (max-width: 1599px) {
  .b-mainInfoContent__title_marginTop {
    margin-top: 151px;
  }
}
@media all and (min-width: 479px) and (max-width: 991px) {
  .b-mainInfoContent__title_marginTop {
    margin-top: 20px;
  }
}
@media all and (min-width: 0px) and (max-width: 478px) {
  .b-mainInfoContent__title_marginTop {
    margin-top: 20px;
  }
}
.b-mainInfoContent__slogan {
  font-size: 50px;
  text-transform: uppercase;
  font-weight: 400;
}
.b-mainInfoContent__desc {
  font-size: 18px;
}
.b-mainInfoContent__button_btnReadMore .btn {
  font-family: 'Six Caps', sans-serif;
  font-size: 35px;
  font-stretch: ultra-condensed;
  letter-spacing: 3px;
  text-transform: uppercase;
  border-color: #000000;
}
.b-mainInfoContent__button_btnReadMore .btn-primary {
  background-color: #131313;
  width: 166px;
  margin-bottom: 18px;
}
.b-mainInfoContent__button_btnReadMore .btn-primary:focus {
  box-shadow: none;
}
.b-mainInfoContent__button_btnReadMore .btn-primary:hover {
  background-color: #ffffff;
  border-color: #ffffff;
  color: black;
}
.b-mainInfoForm {
  position: relative;
  background-color: #ffffff;
}
.b-mainInfoForm_sizeM {
  width: 422px;
}
@media all and (min-width: 768px) and (max-width: 991px) {
  .b-mainInfoForm_sizeM {
    width: 100%;
  }
}
.b-mainInfoForm_marginBottom {
  margin-bottom: 20px;
}
.b-mainInfoForm_marginTop {
  margin-top: 155px;
}
@media all and (min-width: 1200px) and (max-width: 1600px) {
  .b-mainInfoForm_marginTop {
    margin-left: 30px;
  }
}
@media all and (min-width: 479px) and (max-width: 1199px) {
  .b-mainInfoForm_marginTop {
    width: 100%;
    margin-top: 20px;
  }
}
@media all and (min-width: 0px) and (max-width: 478px) {
  .b-mainInfoForm_marginTop {
    margin-top: 20px;
  }
}
.b-tariffs {
  position: relative;
  height: 100%;
}
.b-tariffs__unit {
  background-color: #f5f4f2;
}
.b-tariffs__unit_sizing {
  width: 373px;
  height: 480px;
}
.b-tariffs__unit:hover {
  cursor: pointer;
  background-color: #ffc61a;
}
.b-tariffs__unit:hover .b-tariffs__prise_margin {
  color: #000000;
}
.b-tariffs__unit:hover .tariffsContentWraper .btn,
.b-tariffs__unit:hover .btn-primary {
  background-color: #000000;
  border-color: #000000;
  color: #ffffff;
}
.b-tariffs__unit:hover .tariffsStarWraper {
  display: flex;
}
@media all and (min-width: 0px) and (max-width: 807px) {
  .b-tariffs__unit:hover .tariffsStarWraper {
    display: none;
  }
}
.b-tariffs__unit_marginTop {
  margin-top: 261px;
}
@media all and (min-width: 0px) and (max-width: 1199px) {
  .b-tariffs__unit_marginTop {
    width: 100%;
    margin-top: 75px;
    text-align: center;
  }
}
.b-tariffs__img {
  position: relative;
}
.b-tariffs__img_tariffsCar {
  top: -90px;
  margin-bottom: -73px;
}
@media all and (min-width: 479px) and (max-width: 1199px) {
  .b-tariffs__img_tariffsCar {
    top: 0;
    margin-bottom: 0;
  }
}
.b-tariffs__title {
  font-size: 30px;
}
@media all and (min-width: 479px) and (max-width: 1199px) {
  .b-tariffs__title {
    margin: 10px;
  }
}
.b-tariffs__desc {
  font-size: 18px;
}
.b-tariffs__desc_margin {
  margin: 10px 0;
}
.b-tariffs__prise {
  font-size: 44px;
  color: #ffc61a;
}
.b-tariffs__prise_margin {
  margin-bottom: 10px;
}
.b-reason__button_btnReadMore .btn {
  font-family: 'Six Caps', sans-serif;
  font-size: 35px;
  font-stretch: ultra-condensed;
  letter-spacing: 3px;
  text-transform: uppercase;
  border-color: #ffc61a;
}
.b-reason__button_btnReadMore .btn-primary {
  color: #000000;
  background-color: #ffc61a;
  width: 166px;
  margin-bottom: 18px;
}
.b-reason__button_btnReadMore .btn-primary:focus {
  box-shadow: none;
}
.b-reason__button_btnReadMore .btn-primary:hover {
  background-color: #ffffff;
  border-color: #ffffff;
  color: black;
}
.b-reason__button_btnReadMore_centerMargin {
  margin: 0 auto;
}
.b-reasonName__title {
  color: #ffc61a;
  font-size: 35px;
  text-transform: uppercase;
}
.b-reasonName__title_marginTop {
  margin-top: 81px;
}
.b-reasonName__text {
  color: #ffffff;
  font-size: 44px;
  text-transform: uppercase;
}
.b-reasonUnit__logo_img_1 {
  background-image: url("../img/reason1.png");
  background-repeat: no-repeat;
  width: 100px;
  height: 81px;
  margin-right: 10px;
}
.b-reasonUnit__logo_img_2 {
  background-image: url("../img/reason2.png");
  background-repeat: no-repeat;
  width: 100px;
  height: 81px;
  margin-right: 10px;
}
.b-reasonUnit__logo_img_3 {
  background-image: url("../img/reason3.png");
  background-repeat: no-repeat;
  width: 100px;
  height: 81px;
  margin-right: 10px;
}
.b-reasonUnit__logo_img_4 {
  background-image: url("../img/reason4.png");
  background-repeat: no-repeat;
  width: 100px;
  height: 81px;
  margin-right: 10px;
}
.b-reasonUnit__content_size {
  max-width: 484px;
}
.b-reasonUnit__content__title {
  font-size: 25px;
  text-transform: uppercase;
  color: #ffc61a;
}
.b-reasonUnit__content__text {
  font-size: 18px;
  color: #ffffff;
}
@media all and (min-width: 0px) and (max-width: 478px) {
  .b-reasonUnit__content__text {
    font-size: 13px;
  }
}
.b-download {
  background-color: #ffffff;
}
.b-download__button_btnGoogle .btn {
  font-family: 'Six Caps', sans-serif;
  font-size: 35px;
  font-stretch: ultra-condensed;
  letter-spacing: 3px;
  text-transform: uppercase;
  border-color: #ffc61a;
}
.b-download__button_btnGoogle .btn-primary {
  color: #ffffff;
  background-color: #000000;
  width: 180px;
  height: 63px;
  border-radius: 35px;
  background-image: url("../img/gplay.png");
  background-repeat: no-repeat;
  background-position: center center;
}
.b-download__button_btnGoogle_centerMargin {
  margin: 0 auto;
}
.b-download__button_btnApple .btn {
  font-family: 'Six Caps', sans-serif;
  font-size: 35px;
  font-stretch: ultra-condensed;
  letter-spacing: 3px;
  text-transform: uppercase;
  border-color: #ffc61a;
}
.b-download__button_btnApple .btn-primary {
  color: #ffffff;
  background-color: #000000;
  width: 180px;
  height: 63px;
  border-radius: 35px;
  background-image: url("../img/appstore.png");
  background-repeat: no-repeat;
  background-position: center center;
}
.b-download__button_btnApple_centerMargin {
  margin: 0 auto;
}
.b-downloadName__title {
  font-size: 35px;
  text-transform: uppercase;
  color: #ffc61a;
}
.b-downloadName__text {
  font-size: 44px;
  text-transform: uppercase;
  color: #000000;
}
.b-downloadName__text_margin {
  margin-bottom: 81px;
}
.b-downloadContent__slogan {
  font-size: 25px;
  color: #000000;
}
.b-downloadContent__text {
  font-size: 18px;
  color: #000000;
}
.b-downloadContent__text_margin {
  margin-bottom: 67px;
}
.b-testimonialsName__title {
  font-size: 35px;
  text-transform: uppercase;
  color: #ffc61a;
}
.b-testimonialsName__title_margin {
  margin-top: 110px;
}
@media all and (min-width: 0px) and (max-width: 1200px) {
  .b-testimonialsName__title_margin {
    margin-top: 20px;
  }
}
.b-testimonialsName__text {
  font-size: 44px;
  text-transform: uppercase;
  color: #ffffff;
}
.b-testimonialsName__text_margin {
  margin-bottom: 81px;
}
@media all and (min-width: 0px) and (max-width: 1200px) {
  .b-testimonialsName__text_margin {
    margin-bottom: 0;
  }
}
.b-testimonialsUnit__text {
  font-size: 16px;
  color: #ffffff;
}
.b-testimonialsUnit__author__name {
  font-size: 25px;
  color: #ffc61a;
  text-transform: uppercase;
}
.b-testimonialsUnit__author__name_margin {
  margin-left: 20px;
}
.b-testimonialsUnit__author__prof {
  font-size: 16px;
  color: #ffffff;
  text-transform: uppercase;
}
.b-testimonialsUnit__author__prof_margin {
  margin-left: 20px;
}
.b-callback__title {
  color: #000000;
  font-size: 35px;
  text-transform: uppercase;
}
@media all and (min-width: 0px) and (max-width: 515px) {
  .b-callback__title {
    font-size: 35px;
  }
}
.b-callback__phone {
  color: #000000;
  font-size: 77px;
  text-transform: uppercase;
}
@media all and (min-width: 516px) and (max-width: 605px) {
  .b-callback__phone {
    font-size: 65px;
  }
}
@media all and (min-width: 0px) and (max-width: 515px) {
  .b-callback__phone {
    font-size: 55px;
  }
}
.b-footerUnit__name {
  font-size: 25px;
  text-transform: uppercase;
  color: #ffffff;
}
.b-footerUnit__line {
  background-color: #ffc61a;
}
.b-footerUnit__line_size {
  width: 339px;
  height: 8px;
}
.b-footerUnit__line_size_margin {
  margin: 40px 0;
}
@media all and (min-width: 479px) and (max-width: 1200px) {
  .b-footerUnit__line_size_margin {
    margin: 10px 0;
  }
}
.b-footerUnit__text {
  color: #ffffff;
  font-size: 16px;
}
html,
body {
  min-height: 100%;
}
body {
  font-family: "Lato Black", sans-serif;
  background: #ffffff;
}
.container {
  max-width: 1600px;
  height: 100%;
  margin: 0 auto;
}
@media all and (min-width: 1400px) and (max-width: 1600px) {
  .container {
    min-width: 100%;
  }
}
@media all and (max-width: 479px) {
  .container {
    min-width: 479px;
  }
}
.headerTopWraper {
  display: flex;
  width: 100%;
  justify-content: space-between;
}
@media all and (min-width: 479px) and (max-width: 1026px) {
  .headerTopWraper {
    flex-direction: column;
  }
}
@media all and (max-width: 479px) {
  .headerTopWraper {
    flex-direction: column;
  }
}
.nav.justify-content-end {
  justify-content: center!important;
}
@media all and (min-width: 0px) and (max-width: 767px) {
  .nav {
    display: block;
    text-align: center;
  }
}
@media all and (min-width: 768px) and (max-width: 991px) {
  .nav {
    display: flex;
  }
}
.nav-item {
  border-radius: 50px;
  transition-duration: .3s;
}
.nav-item:hover {
  background-color: #ffc61a;
}
.nav-link {
  padding: .5rem 1.2rem;
  color: #ffffff;
  text-transform: uppercase;
  transition-duration: .3s;
}
.nav-link:hover {
  color: #000000;
}
@media all and (min-width: 768px) and (max-width: 991px) {
  .nav-link {
    padding: .8rem 1.2rem;
  }
}
.headerMidWraper {
  display: flex;
  width: 100%;
  justify-content: center;
  text-align: center;
}
.mainInfoWraper {
  display: flex;
  width: 100%;
  justify-content: space-between;
  margin: 0 200px;
}
@media all and (min-width: 479px) and (max-width: 1199px) {
  .mainInfoWraper {
    flex-direction: column;
    margin: 0 15px;
    align-items: center;
  }
}
@media all and (max-width: 479px) {
  .mainInfoWraper {
    flex-direction: column;
    margin: 0 15px;
    align-items: center;
  }
}
.formWraper {
  display: flex;
  flex-direction: column;
  align-items: center;
}
.formWraper .btn {
  font-family: 'Six Caps', sans-serif;
  font-size: 35px;
  font-stretch: ultra-condensed;
  letter-spacing: 3px;
  text-transform: uppercase;
  border-color: #000000;
}
.formWraper .btn-primary {
  background-color: #131313;
  width: 376px;
  margin-bottom: 18px;
}
.formWraper .btn-primary:focus {
  box-shadow: none;
}
.formWraper .btn-primary:hover {
  background-color: #ff9d1a;
  border-color: #ff9d1a;
}
.form-control {
  border: none;
  border-bottom: 2px solid #e4e4e4;
  border-radius: 0;
  padding: 10px 0;
}
.form-control:focus {
  box-shadow: none;
}
.form-row {
  margin-right: 35px;
  margin-left: 35px;
}
.formPreText {
  background-color: #000000;
  width: 100%;
  height: 77px;
  padding-top: 17px;
  padding-left: 37px;
  color: #ffffff;
  font-size: 34px;
  text-transform: uppercase;
}
.formPreText span {
  color: #ffc61a;
}
.tariffsWraper {
  display: flex;
  justify-content: space-around;
  width: 100%;
  margin: 0 50px;
}
.tariffsWraper :nth-child(2) {
  margin: 0;
}
@media all and (min-width: 0px) and (max-width: 1199px) {
  .tariffsWraper {
    flex-direction: column;
    margin: 0;
  }
}
.tariffsContentWraper {
  height: 100%;
  padding: 0 35px 39px 35px;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}
@media all and (min-width: 0px) and (max-width: 1199px) {
  .tariffsContentWraper {
    padding: 0;
  }
}
.tariffsContentWraper .btn {
  font-family: "Lato Black", sans-serif;
  font-size: 22px;
  font-stretch: ultra-condensed;
  letter-spacing: 0;
  text-transform: uppercase;
  border-color: #ffc61a;
  color: #000000;
}
.tariffsContentWraper .btn-primary {
  background-color: #ffc61a;
  width: 166px;
  height: 50px;
}
.tariffsContentWraper .btn-primary:focus {
  box-shadow: none;
}
.tariffsContentWraper .btn-primary:hover {
  background-color: #ff9d1a;
  border-color: #ff9d1a;
}
.tariffsStarWraper {
  display: none;
  width: 100%;
  justify-content: flex-end;
  margin-bottom: -50px;
  margin-right: -70px;
}
@media all and (min-width: 479px) and (max-width: 1199px) {
  .tariffsStarWraper {
    margin-bottom: 11px;
    margin-right: 0;
  }
}
.tariffsStar {
  width: 74px;
  height: 74px;
  background-image: url("../img/tarifsStar.png");
  background-repeat: no-repeat;
}
.reasonWraper {
  height: 753px;
  width: 100%;
  background-image: url("../img/reason_bg.png");
  background-repeat: no-repeat;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
}
@media all and (min-width: 0px) and (max-width: 1199px) {
  .reasonWraper {
    height: 100%;
    background-size: cover;
  }
}
.reasonNameWraper {
  width: 100%;
  display: flex;
  justify-content: center;
  text-align: center;
}
@media all and (min-width: 479px) and (max-width: 1199px) {
  .reasonNameWraper {
    margin-bottom: 65px;
  }
}
.reasonRowWraper {
  width: 100%;
  display: flex;
  justify-content: space-evenly;
}
@media all and (min-width: 0px) and (max-width: 1199px) {
  .reasonRowWraper {
    flex-direction: column;
  }
}
.reasonUnitWraper {
  width: 100%;
  display: flex;
  justify-content: center;
  align-items: center;
}
@media all and (min-width: 479px) and (max-width: 1199px) {
  .reasonUnitWraper {
    margin-bottom: 50px;
  }
}
@media all and (min-width: 0px) and (max-width: 478px) {
  .reasonUnitWraper {
    margin-bottom: 20px;
  }
}
.downloadWraper {
  width: 100%;
  height: 100%;
  display: flex;
  flex-direction: column;
  justify-content: space-evenly;
  margin-top: 65px;
}
.downloadNameWraper {
  width: 100%;
  display: flex;
  justify-content: center;
  text-align: center;
}
.downloadContentWraper {
  width: 100%;
  display: flex;
  justify-content: space-around;
  text-align: start;
}
@media all and (min-width: 479px) and (max-width: 991px) {
  .downloadContentWraper {
    flex-direction: column;
    align-items: center;
  }
}
.downloadContentTextWraper {
  width: 440px;
}
@media all and (min-width: 479px) and (max-width: 991px) {
  .downloadContentTextWraper {
    width: 100%;
    text-align: center;
    margin-bottom: 50px;
  }
}
.downloadButtonWraper {
  display: flex;
}
.downloadHand {
  width: 388px;
  height: 466px;
  background-image: url("../img/hand.png");
  background-repeat: no-repeat;
}
@media all and (min-width: 0px) and (max-width: 479px) {
  .downloadHand {
    display: none;
  }
}
.testimonialsWraper {
  width: 100%;
  height: 610px;
  background-image: url("../img/testimonials.png");
  background-repeat: no-repeat;
}
@media all and (min-width: 0px) and (max-width: 1200px) {
  .testimonialsWraper {
    height: 100%;
  }
}
.testimonialsNameWraper {
  width: 100%;
  display: flex;
  justify-content: center;
  text-align: center;
}
.testimonialsContentWraper {
  width: 100%;
  display: flex;
  justify-content: space-evenly;
}
@media all and (min-width: 0px) and (max-width: 1200px) {
  .testimonialsContentWraper {
    flex-direction: column;
    align-items: center;
  }
}
.testimonialsUnitWraper {
  padding: 42px;
  width: 581px;
  height: 220px;
  background-color: #000000;
  border-radius: 50px;
}
@media all and (min-width: 623px) and (max-width: 1200px) {
  .testimonialsUnitWraper {
    height: 90%;
  }
}
@media all and (min-width: 0px) and (max-width: 622px) {
  .testimonialsUnitWraper {
    height: 90%;
    width: 100%;
  }
}
.testimonialsUnitImg {
  width: 74px;
  height: 74px;
  background-image: url("../img/author.png");
  background-repeat: no-repeat;
}
.callbackWraper {
  display: flex;
  justify-content: center;
  text-align: center;
  align-items: center;
  width: 100%;
  height: 286px;
  background-color: #ffc61a;
}
.footerUnitWraper {
  padding-top: 86px;
  display: flex;
  justify-content: space-evenly;
  width: 100%;
  height: 440px;
  background-image: url("../img/footer.png");
}
@media all and (min-width: 0px) and (max-width: 1200px) {
  .footerUnitWraper {
    flex-direction: column;
    height: 100%;
    padding-top: 5px;
  }
}
.unitWraper {
  width: 339px;
}
@media all and (min-width: 0px) and (max-width: 1200px) {
  .unitWraper {
    width: 60%;
    margin: 0 auto;
  }
}
.innerWraper {
  display: flex;
  flex-direction: column;
  justify-content: center;
}
@media all and (min-width: 0px) and (max-width: 1200px) {
  .innerWraper {
    width: 100%;
    align-items: center;
    margin-bottom: 50px;
  }
}
.footerSocial {
  color: #ffc61a;
}
.footerSocial i {
  margin-left: 30px;
  cursor: pointer;
}
.footerSocial i:hover {
  transform: scale(1.25);
}
.systemName {
  color: #ffc61a;
}
.systemName i {
  color: #ffffff;
  margin-left: 10px;
}
.address i,
.phone i,
.email i,
.site i {
  margin-right: 10px;
}
.copyright {
  background-color: #000000;
}
.copyrightWraper {
  width: 100%;
  height: 52px;
  display: flex;
  justify-content: center;
  align-items: center;
  color: #ffffff;
  font-size: 14px;
}
