@font-face {
  font-family: "Lato Black";
  src: url(../fonts/Lato-Black.ttf);
}
@font-face {
  font-family: "Bebas Neue Bold";
  src: url(../fonts/Bebas Neue.ttf);
}
.b-header {
  position: relative;
  height: 739px;
  background: url("../img/header_bg.jpg");
  background-repeat: no-repeat;
}
@media all and (min-width: 768px) and (max-width: 991px) {
  .b-header {
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    height: 739px;
  }
}
.b-headerTop__logo {
  color: #ffffff;
  font-size: 40px;
}
.b-headerTop__logo span {
  color: #ffc61a;
}
.b-headerTop__logo_marginLogo {
  margin-top: 44px;
  margin-left: 81px;
  /*             .respondTo(small-desktops, {
                margin-left: 15px;
                margin-top: 15px;
                text-align: center;
            }); */
}
@media all and (min-width: 479px) and (max-width: 1026px) {
  .b-headerTop__logo_marginLogo {
    margin: 0;
    margin-top: 15px;
    text-align: center;
  }
}
@media all and (max-width: 479px) {
  .b-headerTop__logo_marginLogo {
    margin: 0;
    margin-top: 15px;
    text-align: center;
  }
}
.b-headerTop__slogan {
  color: #ffffff;
  font-size: 15px;
  letter-spacing: 3px;
}
.b-headerTop__slogan_margin {
  margin-top: -15px;
  margin-left: 19px;
}
@media all and (min-width: 479px) and (max-width: 1026px) {
  .b-headerTop__slogan_margin {
    margin-left: 0;
  }
}
@media all and (max-width: 479px) {
  .b-headerTop__slogan_margin {
    margin-left: 0;
  }
}
.b-headerTop__menu_margin {
  margin-top: 50px;
  margin-right: 103px;
}
@media all and (min-width: 0px) and (max-width: 992px) {
  .b-headerTop__menu_margin {
    margin: 50px 0;
    font-size: 25px;
  }
}
@media all and (min-width: 993px) and (max-width: 1026px) {
  .b-headerTop__menu_margin {
    margin: 50px 0;
    font-size: 25px;
  }
}
.b-headerMid__title {
  color: #ffc61a;
  font-size: 32px;
  font-weight: 400;
  text-transform: uppercase;
}
.b-headerMid__title_marginTop {
  margin-top: 20px;
}
@media all and (min-width: 479px) and (max-width: 1026px) {
  .b-headerMid__title_marginTop {
    margin-top: 0;
  }
}
@media all and (max-width: 479px) {
  .b-headerMid__title_marginTop {
    margin-top: 0;
  }
}
.b-headerMid__phone {
  color: #ffffff;
  font-size: 72px;
  text-transform: uppercase;
}
@media all and (min-width: 479px) and (max-width: 1026px) {
  .b-headerMid__phone {
    font-size: 50px;
  }
}
@media all and (max-width: 479px) {
  .b-headerMid__phone {
    font-size: 50px;
  }
}
.b-headerMid__www {
  color: #ffffff;
  font-size: 20px;
  text-transform: uppercase;
  letter-spacing: 10px;
}
.b-headerMid__www_margin {
  margin-left: 55px;
}
@media all and (min-width: 479px) and (max-width: 1026px) {
  .b-headerMid__www_margin {
    margin-left: 0;
    font-size: 10px;
  }
}
@media all and (max-width: 479px) {
  .b-headerMid__www_margin {
    margin-left: 0;
    font-size: 10px;
  }
}
@media all and (min-width: 992px) and (max-width: 1199px) {
  .b-headerMid__www_margin {
    margin-bottom: 380px;
    letter-spacing: 10px;
  }
}
.b-headerBottom__carImg {
  position: absolute;
}
.b-headerBottom__carImg_headerCar {
  top: 370px;
  left: calc(50% - 413px);
  z-index: 500;
}
@media all and (min-width: 0px) and (max-width: 991px) {
  .b-headerBottom__carImg_headerCar {
    display: none;
  }
}
.b-mainInfo {
  position: relative;
  height: 100%;
  background-color: #ffc61a;
}
.b-mainInfoContent_sizeM {
  width: 554px;
}
@media all and (min-width: 0px) and (max-width: 1599px) {
  .b-mainInfoContent_sizeM {
    width: 100%;
  }
}
.b-mainInfoContent__title {
  font-size: 25px;
  text-transform: uppercase;
}
.b-mainInfoContent__title_marginTop {
  margin-top: 151px;
}
@media all and (min-width: 992px) and (max-width: 1599px) {
  .b-mainInfoContent__title_marginTop {
    margin-top: 151px;
  }
}
@media all and (min-width: 479px) and (max-width: 991px) {
  .b-mainInfoContent__title_marginTop {
    margin-top: 20px;
  }
}
@media all and (min-width: 0px) and (max-width: 478px) {
  .b-mainInfoContent__title_marginTop {
    margin-top: 20px;
  }
}
.b-mainInfoContent__slogan {
  font-size: 50px;
  text-transform: uppercase;
  font-weight: 400;
}
.b-mainInfoContent__desc {
  font-size: 18px;
}
.b-mainInfoContent__button_btnReadMore .btn {
  font-family: 'Six Caps', sans-serif;
  font-size: 35px;
  font-stretch: ultra-condensed;
  letter-spacing: 3px;
  text-transform: uppercase;
}
.b-mainInfoContent__button_btnReadMore .btn-primary {
  background-color: #131313;
  width: 166px;
  margin-bottom: 18px;
}
.b-mainInfoForm {
  position: relative;
  background-color: #ffffff;
}
.b-mainInfoForm_sizeM {
  width: 422px;
}
@media all and (min-width: 768px) and (max-width: 991px) {
  .b-mainInfoForm_sizeM {
    width: 100%;
  }
}
.b-mainInfoForm_marginBottom {
  margin-bottom: 20px;
}
.b-mainInfoForm_marginTop {
  margin-top: 155px;
}
@media all and (min-width: 1200px) and (max-width: 1600px) {
  .b-mainInfoForm_marginTop {
    margin-left: 30px;
  }
}
@media all and (min-width: 479px) and (max-width: 1199px) {
  .b-mainInfoForm_marginTop {
    width: 100%;
    margin-top: 20px;
  }
}
@media all and (min-width: 0px) and (max-width: 478px) {
  .b-mainInfoForm_marginTop {
    margin-top: 20px;
  }
}
html,
body {
  min-height: 100%;
}
body {
  font-family: "Lato Black", sans-serif;
  background: #ffffff;
}
.container {
  max-width: 1600px;
  height: 100%;
  margin: 0 auto;
}
@media all and (min-width: 1400px) and (max-width: 1600px) {
  .container {
    min-width: 100%;
  }
}
@media all and (max-width: 479px) {
  .container {
    min-width: 479px;
  }
}
.headerTopWraper {
  display: flex;
  width: 100%;
  justify-content: space-between;
}
@media all and (min-width: 479px) and (max-width: 1026px) {
  .headerTopWraper {
    flex-direction: column;
  }
}
@media all and (max-width: 479px) {
  .headerTopWraper {
    flex-direction: column;
  }
}
.nav.justify-content-end {
  justify-content: center!important;
}
@media all and (min-width: 0px) and (max-width: 767px) {
  .nav {
    display: block;
    text-align: center;
  }
}
@media all and (min-width: 768px) and (max-width: 991px) {
  .nav {
    display: flex;
  }
}
.nav-item {
  border-radius: 50px;
  transition-duration: .3s;
}
.nav-item:hover {
  background-color: #ffc61a;
}
.nav-link {
  padding: .5rem 1.2rem;
  color: #ffffff;
  text-transform: uppercase;
  transition-duration: .3s;
}
.nav-link:hover {
  color: #000000;
}
@media all and (min-width: 768px) and (max-width: 991px) {
  .nav-link {
    padding: .8rem 1.2rem;
  }
}
.headerMidWraper {
  display: flex;
  width: 100%;
  justify-content: center;
  text-align: center;
}
.mainInfoWraper {
  display: flex;
  width: 100%;
  justify-content: space-between;
  margin: 0 200px;
}
@media all and (min-width: 479px) and (max-width: 1199px) {
  .mainInfoWraper {
    flex-direction: column;
    margin: 0 15px;
    align-items: center;
  }
}
@media all and (max-width: 479px) {
  .mainInfoWraper {
    flex-direction: column;
    margin: 0 15px;
    align-items: center;
  }
}
.formWraper {
  display: flex;
  flex-direction: column;
  align-items: center;
}
.formWraper .btn {
  font-family: 'Six Caps', sans-serif;
  font-size: 35px;
  font-stretch: ultra-condensed;
  letter-spacing: 3px;
  text-transform: uppercase;
}
.formWraper .btn-primary {
  background-color: #131313;
  width: 376px;
  margin-bottom: 18px;
}
.form-control {
  border: none;
  border-bottom: 2px solid #e4e4e4;
  border-radius: 0;
  padding: 10px 0;
}
.form-row {
  margin-right: 35px;
  margin-left: 35px;
}
.formPreText {
  background-color: #000000;
  width: 100%;
  height: 77px;
  padding-top: 17px;
  padding-left: 37px;
  color: #ffffff;
  font-size: 34px;
  text-transform: uppercase;
}
.formPreText span {
  color: #ffc61a;
}
