@font-face {
    font-family: "Lato Black";
    src: url(../fonts/Lato-Black.ttf);
}

//Fonts
@mainFont: "Lato Black", sans-serif;

//Colors
@majorColor: #ffc61a;
@blackColor: #000;
@whiteColor: #fff;
@darkColor: #1b1b1b;
@lightGreyColor: #f5f4f2;



