@import "_variables";

//Block section
@import "block/_header.less";
@import "block/_headerTop.less";



html, body {
    min-height: 100%;

}
body {
    font-family: @mainFont;
    background: @whiteColor;
}

.wraper {
    width: 1600px;
    height: 100%;
    margin: 0 auto;
}