.b-callback {
    &__title {
        color: @blackColor;
        font-size: 35px;
        text-transform: uppercase;
    }
    &__phone {
        color: @blackColor;
        font-size: 77px;
        text-transform: uppercase;
    }
}