.b-headerMid {

    &__title {
        color: @majorColor;
        font-size: 32px;
        font-weight: 400;
        text-transform: uppercase;
        
        &_marginTop {
            margin-top: 20px;
            .customRespond(479px, 1026px, {
                margin-top: 0;
            }
            );
            .respondToDown(phones, {
                margin-top: 0;
            }
            )
        }
    }

    &__phone {
        color: @whiteColor;
        font-size: 72px;
        text-transform: uppercase;
        .customRespond(479px, 1026px, {
            font-size: 50px;
        }
        );
        .respondToDown(phones, {
            font-size: 50px;
<<<<<<< HEAD
        }
        )
=======
        })
>>>>>>> origin/master
    }

    &__www {
        color: @whiteColor;
        font-size: 20px;
        text-transform: uppercase;
        letter-spacing: 10px;
<<<<<<< HEAD
=======

>>>>>>> origin/master
        &_margin {
            margin-left: 55px;
            .customRespond(479px, 1026px, {
                margin-left: 0;
                font-size: 10px;
            }
            );
            .respondToDown(phones, {
                margin-left: 0;
                font-size: 10px;
            }
            );
            .respondTo(small-desktops, {
                margin-bottom: 380px;
                letter-spacing: 10px;
<<<<<<< HEAD
            }
            );
=======
            });
>>>>>>> origin/master
        }
    }
}