.b-headerBottom {
    
    &__carImg {
        position: absolute;
        
        &_headerCar {
            top: 370px;
            left: calc(~"50% - 413px");
            z-index: 500;
            .customRespond(0px, 991px, {
                display: none;
            })
        }
    }
}