.b-headerTop {
    &__logo {
        color: @whiteColor;
        font-size: 40px;
        & span {
            color: @majorColor;
        }
        &_marginTop {
            margin-top: 44px;
        }
    }
}