.b-mainInfoContent {
        &_sizeM {
            width: 554px;
            .customRespond(0px, 1599px, {
                width: 100%;
            });
        }

    &__title {
        font-size: 25px;
        text-transform: uppercase;
        &_marginTop {
            margin-top: 151px;
            .customRespond(992px, 1599px, {
                margin-top: 151px;
            });
            .customRespond(479px, 991px, {
                margin-top: 20px;
            });
            .customRespond(0px, 478px, {
                margin-top: 20px;
            })
            
        }
    }

    &__slogan {
        font-size: 50px;
        text-transform: uppercase;
        font-weight: 400;
    }
    
    &__desc {
        font-size: 18px;
    }
    &__button {
        &_btnReadMore {
            .btn {
                font-family: 'Six Caps', sans-serif;
                font-size: 35px;
                font-stretch: ultra-condensed;
                letter-spacing: 3px;
                text-transform: uppercase;
            }
            .btn-primary {
                background-color: #131313;
                width: 166px;
                margin-bottom: 18px;
            
            }
        }

    }
    
}