.b-reasonUnit {
    &__logo {
        &_img_1 {
            background-image: url("../img/reason1.png");
            background-repeat: no-repeat;
            width: 100px;
            height: 81px;
            margin-right: 10px;
        }
        &_img_2 {
            background-image: url("../img/reason2.png");
            background-repeat: no-repeat;
            width: 100px;
            height: 81px;
            margin-right: 10px;
        }
        &_img_3 {
            background-image: url("../img/reason3.png");
            background-repeat: no-repeat;
            width: 100px;
            height: 81px;
            margin-right: 10px;
        }
        &_img_4 {
            background-image: url("../img/reason4.png");
            background-repeat: no-repeat;
            width: 100px;
            height: 81px;
            margin-right: 10px;
        }
    }
    &__content {
        &_size {
            max-width: 484px;
        }
        &__title {
            font-size: 25px;
            text-transform: uppercase;
            color: @majorColor;
        }
        &__text {
            font-size: 18px;
            color: @whiteColor;
            .customRespond(0px,
            478px,
                {
                font-size: 13px;
            }
            )
        }
    }
}