.b-testimonialsName {
    &__title {
        font-size: 35px;
        text-transform: uppercase;
        color: @majorColor;
        &_margin {
            margin-top: 110px;
        }
    }
    &__text {
        font-size: 44px;
        text-transform: uppercase;
        color: @whiteColor;
        &_margin {
            margin-bottom: 81px;
        }
    }
}